<%-include('./partials/cdnlinks.ejs')%>
<%-include('./partials/articleheader.ejs')%>
<section class="h-screen w-100 flex items-center justify-center">
  <h1 class="text-6xl font-bold">welcome , please login to Add Article</h1>
</section>
